
.container{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    background-color:white;
   
    
}

.main{
     overflow: hidden;
    /* background-image: url(https://thumbs.dreamstime.com/b/row-different-colorful-books-vector-flat-illustration-educational-entertainment-textbooks-multicolored-covers-203771386.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.img{
    height: 200px;
    width:100%;
}

.admin-button{
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}